.banner-image {
  height: 600px;
  background-image: url('/assets/img/test3.jpg');
  z-index: 500;

  .inner {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba($color-white, .4);
  }
}
