.button {
  padding: 1rem 2.5rem;
  margin: 2rem auto 0;
  background-color: $color-blue;
  color: $color-white;
  text-decoration: none;
  border-radius: 3px;
  transition: box-shadow .2s ease;
  text-align: center;
  display: inline-block;
  text-shadow: 1px 1px rgba(0, 0, 0, .3);
  font-size: 1.25rem;

  &:hover {
    cursor: pointer;
    background-color: lighten($color-blue, 5%);
  }

  &:active {
    transform: scale(.97);
  }
}
