.container {
  // display: flex;
  flex-direction: column-reverse;
  max-width: 600px;
  height: 100%;
  margin: 0 auto;

  @media all and (min-width: $screen-lg) {
    flex-direction: row;
    max-width: 1000px;
  }

  &.container--reverse {
    @media all and (min-width: $screen-lg) {
      //flex-direction: row-reverse;
    }

    .col-image {
      @media all and (min-width: $screen-lg) {
        order: 2;
      }
    }

    .col-text {
      @media all and (min-width: $screen-lg) {
        padding: 0 5rem 0 0;
        width: 60%;
        order: 1;
      }
    }
  }

  > .col-text {
    padding: 0;
    width: 100%;
    // display: flex;
    // flex-direction: column;
    // justify-content: flex-start;
    // align-items: flex-start;
    // flex: 0 1 auto;
    height: 100%;
    flex-shrink: 0;
    flex-basis: auto;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    > * {
      flex-shrink: 0;
      flex-basis: auto;
    }

    @media all and (min-width: $screen-lg) {
      padding: 0 0 0 5rem;
      width: 60%;
    }
  }

  > .col-image {
    display: none;
    // flex-direction: row;
    // justify-content: center;
    // align-items: center;
    padding: 3rem 0 0;
    width: 100%;
    // flex: 0 1 auto;
    height: 100%;
    flex-shrink: 0;
    flex-basis: auto;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    > * {
      flex-shrink: 0;
      flex-basis: auto;
    }

    @media all and (min-width: $screen-lg) {
      padding-top: 0;
      align-items: flex-start;
      width: 40%;
      display: block;
    }

    &.gifts {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      // flex: 0 1 auto;
      flex-shrink: 0;
      flex-basis: auto;

      @media all and (min-width: $screen-sm) {
        flex-direction: row;
      }

      @media all and (min-width: $screen-lg) {
        flex-direction: column;
      }

      > div {
        padding: 0 .5rem;
        box-sizing: border-box;
        width: calc(100% / 3);
        // height: 100%;
        flex-shrink: 0;
        flex-basis: auto;

        @media all and (min-width: $screen-sm) {
          width: calc(100% / 3);
        }

        @media all and (min-width: $screen-lg) {
          width: 80%;
          // flex-direction: column;
          padding: 1rem;
        }

        img {
          width: 100%;
          max-width: 100%;
        }
      }
    }

    picture,
    img {
      max-width: 100%;
      width: 100%;
      box-sizing: border-box;
    }
  }
}
