.divider {
  width: 5rem;
  display: block;
  margin: 1.5rem 0 2.5rem;

  &.divider--center {
    @media all and (min-width: $screen-sm) {
      margin: 1.5rem auto 2.5rem;
    }
  }
}

.section--white {
  .divider {
    border-bottom: 3px solid #eee;
  }
}

.section--light-gray {
  .divider {
    border-bottom: 3px solid #dddddd;
  }
}

.section--blue {
  .divider {
    border-bottom: 3px solid $color-pale-blue;
  }
}
