nav {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  transform: translateX(100%);
  justify-content: flex-start;
  z-index: 1000;
  background-color: $color-white;
  display: flex;
  box-shadow: -10px 0px 20px -5px rgba(0, 0, 0, .2);

  > * {
    flex-shrink: 0;
    flex-basis: auto;
  }

  &.open {
    transform: translateX(100px);
    width: calc(100% - 100px);
    box-shadow: -10px 0px 20px -5px rgba(0, 0, 0, .5);

    @media screen and (min-width: $screen-md) {
      left: 0;
    }
  }

  @media screen and (min-width: $screen-md) {
    justify-content: space-around;
    left: 0;
    width: 100%;
    transform: translateX(0) !important;
    height: auto;
    display: flex;
    z-index: 1000;
    transition: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0, .05), 0 6px 20px 0 rgba(0,0,0,.05);
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    margin-bottom: 100px;
    width: 85%;
    text-align: right;

    @media screen and (min-width: $screen-md) {
      width: 100%;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      max-width: 800px;
      height: 77px;
      margin: 0;
      text-align: center;
    }

    li {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      flex-shrink: 0;
      flex-basis: auto;

      @media screen and (min-width: $screen-md) {
        width: auto;
      }

      a {
        text-decoration: none;
        padding: 15px 25px;
        display: block;
        width: 100%;

        &.active,
        &:hover {
          background-color: $color-light-gray;
        }
      }
    }
  }
}
