section {
  padding: 5rem 30px;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: center;
  margin: 0 auto;

  @media all and (min-width: $screen-lg) {
    padding: 6rem 50px;
  }

  @media all and (min-width: $screen-xl) {
    padding: 8rem 50px;
  }

  &.section--white {
    background-color: $color-white;
  }

  &.section--light-gray {
    background-color: $color-light-gray;
  }

  &.section--blue {
    background-color: $color-blue;

    h2,
    p,
    a {
      color: $color-pale-blue;
    }
  }

  .inner-narrow {
    max-width: 550px;
    // display: flex;
    // flex-direction: column;
    // justify-content: flex-start;
    // align-items: flex-start;
    margin: 0 auto;

    @media all and (min-width: $screen-sm) {
      // justify-content: center;
      // align-items: center;
    }

    .button {
      @media all and (min-width: $screen-sm) {
        margin: 0 auto;
      }
    }

    > p {
      width: 100%;
    }
  }

  .inner-wide {
    max-width: 800px;
  }
}

section:focus {
  outline: none;
}
