section {
  padding: 5rem 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media all and (min-width: $screen-lg) {
    padding: 6rem 50px;
  }

  @media all and (min-width: $screen-xl) {
    padding: 8rem 50px;
  }

  &.section--white {
    background-color: $color-white;
  }

  &.section--light-gray {
    background-color: $color-light-gray;
  }

  .inner-narrow {
    max-width: 550px;

    *:last-child {
      //padding-bottom: 0;
    }
  }

  .inner-wide {
    max-width: 800px;
  }
}

section:focus {
  outline: none;
}