// table {
//   tr {
//     margin-bottom: 2rem;

//     &:last-of-type {
//       margin-bottom: 0;

//       td {
//         padding-bottom: 0;
//       }
//     }
//   }
//   tr td {
//     padding: 1rem 1rem 2rem;
//     vertical-align: top;
//     display: block;

//     @media all and (min-width: $screen-md) {
//       display: table-cell;
//     }

//     &:first-of-type {
//       padding-top: 0;

//       p {
//         color: #5a5a5a;
//         font-size: 2rem;
//         text-align: left;

//         @media all and (min-width: $screen-md) {
//           text-align: right;
//         }
//       }
//     }

//     p {
//       padding: 0;
//       margin: 0;
//     }
//   }
// }


table {
  tr {
    td {
      display: block;
      padding: 0;

      // @media all and (min-width: $screen-md) {
      //   display: table-cell;
      //   padding: 0 1rem 2rem;
      // }

      &.time {
        p {
          font-size: 1.5rem;
          font-weight: 300;
          margin-bottom: .5rem;

          // @media all and (min-width: $screen-md) {
          //   text-align: right;
          // }
        }
      }

      p {

      }
    }
  }
}