table {
  border-collapse: collapse;
  margin-top: 20px;

  tr {
    &:nth-child(odd) {
      background-color: #eeeeee;
    }

    &:nth-child(even) {
      background-color: #f9f9f9;
    }

    td {
      display: block;
      padding: 10px 20px 0;

      &:last-of-type {
        padding-top: .2rem;
      }

      &.time {
        p {
          font-size: 1.5rem;
          font-weight: 300;
          margin-bottom: 0;
        }
      }
    }
  }
}
