.toggle {
  position: fixed;
  bottom: 15px;
  right: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $color-blue;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  z-index: 3000;
  opacity: 1;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(46, 37, 30, .2), 0 6px 20px 0 rgba(46, 37, 30, .19);

  > * {
    flex-shrink: 0;
    flex-basis: auto;
  }

  @media all and (min-width: $screen-md) {
    display: none;
  }
}

.hamburger {
  padding: 15px;
  display: flex;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: .15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  border: 0;
  margin: 0;
  overflow: visible;

  > * {
    flex-shrink: 0;
    flex-basis: auto;
  }

  &:focus {
    outline: none;
  }

  &:hover {
    opacity: 1;
  }

  @media all and (min-width: $screen-md) {
    display: none;
  }
}

.hamburger-box {
  width: 25px;
  height: 24px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 22px;
  height: 4px;
  background-color: $color-white;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: .15s;
  transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: '';
  display: block;
}

.hamburger-inner::before {
  top: -8px;
}

.hamburger-inner::after {
  bottom: -8px;
}

.hamburger--squeeze .hamburger-inner {
  transition-duration: .075s;
  transition-timing-function: cubic-bezier(.55, .055, .675, .19);
}

.hamburger--squeeze .hamburger-inner::before {
  transition: top .075s .12s ease, opacity .075s ease;
}

.hamburger--squeeze .hamburger-inner::after {
  transition: bottom .075s .12s ease, transform .075s cubic-bezier(.55, .055, .675, .19);
}

.hamburger--squeeze.is-active .hamburger-inner {
  transform: rotate(45deg);
  transition-delay: .12s;
  transition-timing-function: cubic-bezier(.215, .61, .355, 1);
}

.hamburger--squeeze.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top .075s ease, opacity .075s .12s ease;
}

.hamburger--squeeze.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom .075s ease, transform .075s .12s cubic-bezier(.215, .61, .355, 1);
}
