* {
  font-family: 'Open sans';
}

h2,
h3 {
  font-weight: 300;
  color: $color-medium-gray;
}

h2.section-heading {
  margin-top: 0;
  margin-bottom: 0;
}

p,
ul {
  line-height: 1.7;
  color: $color-dark-gray;
}

p {
  font-weight: 400;
  line-height: 1.8;
  padding-bottom: 0;
  margin: 0 0 1.5rem 0;
}

.text-center {
  text-align: left;

  @media all and (min-width: $screen-sm) {
    text-align: center;
  }

  &.text-center-md {
    text-align: center;
  }
}

a {
  color: $color-darker-blue;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

tr td {
  padding: 20px;
}

.list-thing {
  -webkit-padding-start: 0px;
  padding: 0;

  li {
    padding: 20px;
    background-color: white;
    margin-bottom: 30px;
    position: relative;
    border: 1px solid #eee;

    &:not(:last-of-type) {
      &:after {
        content: '';
        width: 4px;
        background-color: white;
        height: 31px;
        position: absolute;
        bottom: -31px;
        left: calc(50% - 2px);

      }
    }
  }
}

.font-fancy {
  font-family: 'Niconne', cursive;
}
