.background-cover {
  background-size: cover;
  background-position: center;
}

.position-relative {
  position: relative;
}

a.no-underline {
  text-decoration: none;
}

* {
  box-sizing: border-box;
  flex: 0 1 auto;
}
