.background-cover {
  background-size: cover;
  background-position: center;
}

.position-relative {
  position: relative;
}

a.no-underline {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.d-flex {
  display: flex;

  > * {
    flex-shrink: 0;
    flex-basis: auto;
  }
}
