// Colours
$color-white: #ffffff;
$color-light-gray: #fafafa;
$color-medium-gray: #5a5a5a;
$color-dark-gray: #4a4a4a;
$color-burgundy: #800020;
$color-blue: #40a6d9;
$color-darker-blue: #0088cc;
$color-pale-blue: #ffffff;

// Sizing
$base-font-size: 16px;

// Screen sizes
$screen-xl: 1200px;
$screen-lg: 900px;
$screen-md: 720px;
$screen-sm: 500px;

